
body {
  background-color:pink;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #69;
    color: #fff;
}
